.active {
    background-color: rgb(36, 46, 48);
    color: white;
}

.active:hover {
    background-color: rgb(80, 88, 89);
}

.category {
    max-width: 100%;
}

.category_img {
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;

}

.category_img_img {
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
}

.category_heading {
    font-family: noto_black, sans-serif;
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.dish {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    cursor: pointer;
}

.dish:hover {
    background-color: rgb(245, 243, 241);

}

.dish_header {
    display: flex;
    justify-content: space-between;
}

.dish_name {
    font-family: noto_black, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.dish_plus {
    background-image: url(img/icons/add_black_24dp.svg);
    background-color: rgb(245, 243, 241);
    background-size: cover;
    border: 5px solid rgb(245, 243, 241);
    border-radius: 50%;
    width: 30px;
    min-width: 30px;
    height: 30px;

}

.dish_plus_number {
    width: 30px;
    min-width: 30px;
    height: 30px;
    background-color: rgb(245, 243, 241);
    border: 5px solid rgb(245, 243, 241);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: noto_bold, sans-serif;
}

.dish_plus_number:hover {
    background-image: url(img/icons/add_black_24dp.svg);
    background-color: rgb(245, 243, 241);
    background-size: cover;
    border: 5px solid rgb(245, 243, 241);
    border-radius: 50%;
    color: transparent;
}

.dish_price {
    margin-top: 20px;
    font-family: noto_bold, sans-serif;
    font-size: 18px;
}

.dish_description {
    font-size: 15px;
}

.dish_info {
    background-image: url(img/icons/info_black_24dp.svg);
    background-size: cover;
    min-width: 25px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.cart_main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 300px);
    width: 100%;
    align-items: center;
}


.cart_sum {
    display: flex;
    height: 150px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
}

.cart_fill {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_heading {
    font-family: noto_black, sans-serif;
    font-size: 22px;
    height: 80px;
    display: flex;
    align-items: center;
}

.cart_img {
    height: 40px;
    margin-top: 60px;
}

.cart_sub_heading {
    font-family: noto_black, sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.cart_sub_sub_heading {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 24px;
}

.cart_dish {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart_amount {
    display: flex;
    justify-content: center;
    min-width: 50px;
    font-family: noto_bold, sans-serif;
}

.cart_name {
    display: flex;
    justify-content: flex-start;
    font-family: noto_bold, sans-serif;
    font-size: 15px;
    max-width: 220px;
}

.cart_price {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.cart_group {
    display: flex;
}

.cart_comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.cart_comment_show {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart_comment_add {
    margin-left: 50px;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.cart_comment_add:hover {
    text-decoration: none;
}

.cart_minus {
    background-image: url(img/icons/remove_black_24dp.svg);
    background-color: rgb(245, 243, 241);
    background-size: cover;
    border: 5px solid rgb(245, 243, 241);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.cart_minus:hover {
    background-color: rgb(215, 213, 212);
    border: 5px solid rgb(215, 213, 212);
}

.cart_plus {
    background-image: url(img/icons/add_black_24dp.svg);
    background-color: rgb(245, 243, 241);
    background-size: cover;
    border: 5px solid rgb(245, 243, 241);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.cart_plus:hover {
    background-color: rgb(215, 213, 212);
    border: 5px solid rgb(215, 213, 212);
}

.cart_spacer {
    display: flex;
    background-color: rgb(239, 237, 234);
    height: 1px;
    width: 312px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.cart_height_plus {
    max-height: calc(100vh - 358px);
}

.comment_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment_header {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    margin-right: 20px;
}

.comment_area {
    margin-left: 50px;
    margin-right: 20px;
    border: 1px solid rgb(36, 46, 48);
    border-radius: 15px;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 20px;
    font-family: noto_regular, sans-serif;
    outline: 0;
    resize: vertical;
}

::-webkit-resizer {
    display: none;
}

.comment_area:hover {
    background-color: rgb(245, 243, 241);
}

.comment_command {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 15px;
}

.comment_add {
    display: flex;
    color: rgb(18, 95, 202);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 15px;
}

.comment_show {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 8px;
    background-color: rgb(235, 246, 250);
}

.mindest {
    display: flex;
    max-width: 344px;
    flex-direction: column;
    font-size: 12px;
}

.mindest_yellow {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    background-color: rgb(255, 249, 223);
    border-radius: 15px;
}

.mindest_left {
    display: flex;
}

.mindest_right {
    display: flex;
    width: 120px;
    justify-content: flex-end;
}

.mindest_below {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.total_above {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
}

.total {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    font-family: noto_bold, sans-serif;
}